body {
  background-color:white;
  height: 200px;
  background-image: linear-gradient(white, grey);
  font-family: "Sofia", sans-serif;
}
.left {
  float:left;
}
.center {
  float:center;
}
.right {
  float:right;
}
